* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Hero section */

.hero {
    background-color: #1f2937;
    height: auto;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero header {
    width: 1000px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.hero ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.hero a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-content {
    width: 1000px;
    height: 300px;
    padding: 24px;
    margin: 100px 0;
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-content .left-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content .left-content h1 {
    font-size: 48px;
}

.hero-content .left-content p {
    color: #e5e7eb;
    font-size: 18px;
    line-height: 1.5;
}

.hero-content .left-content button {
    background: #3882f6;
    width: 150px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: none;
}

.hero-content .right-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-content .right-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
